cachelib==0.1.1
click==8.0.1
cs50==6.0.4
Flask==2.0.1
Flask-Session==0.3.2
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
SQLAlchemy==1.4.18
sqlparse==0.4.1
termcolor==1.1.0
Werkzeug==2.0.1
