{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}

<div class="text">
    <p>
        THIS Game requires two boards. Besides the two boards or diagrams, it also requires one Player, at least.
        I am not aware of any Game that can be
    played with less than this number: while there are several that require more: take Cricket, for instance,
    which requires twenty-two. How much easier it is, when you want to play a Game, to find one Player than
    twenty-two ! At the same time, though one Player is enough, a good deal more amusement may be got by two
    working at it together, and correcting each other's mistakes.
    </p>
    <p>
        A second advantage, possessed by this Game, is that, besides being an endless source of amusement
    (the number of arguments, that may be worked by it, being infinite), it will give the Players a little
    instruction as well. But is there any great harm in that, so long as you get plenty of amusement ?
    </p>
</div>

{% endblock %}
